<h1>Adventures</h1><br>
	<h4>Smokey Mountains</h4>
		<p>I'll be riding to Deal's Gap in June 2015</p><br>
	
	<h4>Arizona and Utah</h4><br>

		<div id="carousel-adventures" class="carousel slide" data-ride="carousel">
  	<!-- Indicators -->
  	<ol class="carousel-indicators">
    	<li data-target="#carousel-adventures" data-slide-to="0" class="active"></li>
    	<li data-target="#carousel-adventures" data-slide-to="1"></li>
    	<li data-target="#carousel-adventures" data-slide-to="2"></li>
      <li data-target="#carousel-adventures" data-slide-to="3"></li>
      <li data-target="#carousel-adventures" data-slide-to="4"></li>
      <li data-target="#carousel-adventures" data-slide-to="5"></li>
      <li data-target="#carousel-adventures" data-slide-to="6"></li>
      <li data-target="#carousel-adventures" data-slide-to="7"></li>
  	</ol>
  	<!-- Wrapper for slides -->
  	<div class="carousel-inner" role="listbox">
    	
    	<div class="item active">
      	<%= image_tag "sky riding.jpg" %>
      	<div class="carousel-caption">
        	...
      	</div>
    	</div>
    	<div class="item">
      	<%= image_tag "dad selfie.jpg" %>
      	<div class="carousel-caption">
        	...
      	</div>
    	</div>
    	<div class="item">
      	<%= image_tag "north rim feet.jpg" %>
      	<div class="carousel-caption">
        	...
      	</div>
    	</div>
      <div class="item">
        <%= image_tag "dad tailgating tucker.jpg" %>
        <div class="carousel-caption">
          ...
        </div>
      </div>
      <div class="item">
        <%= image_tag "from far.jpg" %>
        <div class="carousel-caption">
          ...
        </div>
      </div>
      <div class="item">
        <%= image_tag "tucker at turn.jpg" %>
        <div class="carousel-caption">
          ...
        </div>
      </div>
      <div class="item">
        <%= image_tag "tucker following dad.jpg" %>
        <div class="carousel-caption">
          ...
        </div>
      </div>
      <div class="item">
        <%= image_tag "tucker front.jpg" %>
        <div class="carousel-caption">
          ...
        </div>
      </div>
      <div class="item">
        <%= image_tag "tucker at turn2.jpg" %>
        <div class="carousel-caption">
          ...
        </div>
      </div>

  	</div>
  		<!-- Controls -->
  		<a class="left carousel-control" href="#carousel-adventures" role="button" data-slide="prev">
    		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    		<span class="sr-only">Previous</span>
  		</a>
  		<a class="right carousel-control" href="#carousel-adventures" role="button" data-slide="next">
    		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    		<span class="sr-only">Next</span>
  		</a>
		</div>
<br>
		<p>The Grand Canyon, Zion National Park, Grand Staircase-Escalante National Monument</p>